@use "../../BaseStyle.scss" as base;

$inner-border-radius:0.3rem;
$large-border-radius:1rem;


.section-options-container{
    width: 40rem;
    max-width: 100%;
    display:inline-block;
    background-color: base.$background;
    border: solid base.$light-grey 1px;
    border-radius: $large-border-radius;
    margin-top: 1rem;
}

.new-section-button{
    flex:1;
    display:flex;
    margin-left: 0;
    border-left: none;
    border-radius:0 0.6rem 0.6rem 0;
    padding: 0 0.5rem;
    background-color: white;
    user-select: none;
    height: 100%;
    text-align: center;
    background-color: base.$accent;
    color: white;
    align-items: center;
    outline: 1px solid base.$light-grey;
    border:none;
    font-weight: 900;
}

.new-section-name-box{
    flex:7;
    display:inline;
    border: none;
    height:100%;
    border-radius:0.6rem 0 0 0.6rem;
    border:solid base.$light-grey 1px;
    font-size: 1.5rem;
    padding: 0 0.5rem;
    z-index: 1;

}

.new-section-container{
    height: 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

ul{
    padding:0px;
}