@use "../../BaseStyle.scss" as base;

.editor-elements{
    display:inline-block;

    width: 40rem;
    max-width: 100%;
    margin: 0.4rem;
}

.add-element-button{
    font-size: 3rem;
    user-select: none;
    vertical-align: middle;
}