@use "../../../BaseStyle.scss" as base;

ul {
    list-style-type: none;
}

.list-border{
    max-width: 1600px;
    width: 80%;
    padding: 1rem 0rem;
    background-color: base.$accent;
    display:inline-block;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0px 12px 7px base.$shadow;



    @media (max-width:750px) {
        min-width: 90%;
    }
}

.tt-head{
    width:auto;
    display:flex;
    text-align: left;
    padding: 0rem 1rem;
}

.manage-head{
    flex:3;
    text-align: center;
}