@use "../../../BaseStyle.scss" as base;

.tt-item{
    width:auto;
    display:flex;
    text-align: left;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: base.$background;
    border-radius: 2rem;
    align-items: center;
}

.session-name{
    flex: 10;
    
}

.lesson-name{
    flex:10;
}

.participant-count{
    text-align: right;
    flex:3;
    padding-right: 1rem;
}

.manage-button{
    flex:3;
    display: flex;
    text-align: center;
    background-color: base.$manage;
    border-radius: 12rem;
    align-items: center;

    span{
        flex:2;
        text-align:right;
    }
    
    img{
        flex:1;
        line-height: 0.3rem;
        padding:0.4rem;
        display: inline;
        
        height:1.6rem;
        filter: invert(100%);
    }
}