@use "../../BaseStyle.scss" as base;

.lesson-plan-section-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: base.$shadow;
    border-top:solid base.$light-grey 1px;
    border-bottom:solid base.$light-grey 1px;
    user-select: none;
}
