.element-preview{
    max-width: 100%;
    padding:0.5rem;
    align-items: center;
    justify-content: center;

    word-wrap: break-word;

    img{
        flex:1;
        border-radius: 0.5rem;
        width: 100%;
        max-width: max-content;
    }
}