@use "../../BaseStyle.scss" as base;

ul {
    list-style-type: none;
}

.list-border{
    max-width: 100%;
    width: 40rem;
    padding: 0rem;
    background-color: base.$accent;
    display:inline-block;
    border-radius: 1rem 1rem 2rem 2rem;
    margin: 1rem;
    box-shadow: 0px 12px 7px base.$shadow;

    h2{
        padding:0rem;
    }



    @media (max-width:750px) {
        min-width: 90%;
    }
}

.list-inner{
    background-color: white;
    margin:0;
    padding:0.5rem;
    border-radius:0rem 0rem 1rem 1rem;
}

.tt-head{
    max-width:auto;
    display:flex;
    padding: 0.5rem;
    height: 3rem;
    align-items: center;
    border-radius: 1rem;
}

.head-flex{
    flex:3;
    text-align: center;
}

.tt-item{
    max-width:auto;
    display:flex;
    padding: 0.5rem;
    background-color: base.$background;
    box-shadow: inset 0rem 0rem 0.7rem base.$shadow;
    margin-bottom: 0.5rem;
    height: 3rem;
    align-items: center;
    border-radius: 1rem;
}

.session-name{
    flex: 10;
    text-align: left;
}

.lesson-name{
    flex:10;
}

.participant-count{
    text-align: right;
    flex:3;
    padding-right: 1rem;
}

.tt-button{
    flex:3;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: base.$manage;
    border-radius: 1rem;
    margin: 0 0.5rem;
    user-select: none;
    img{
        height: 65%;
        
    }
}

.start-button{
    background-color: base.$accent-green;
}

// .tt-button{
    
//     flex:3;
//     display: flex;
//     text-align: center;
//     height: 100%;
//     border-radius: 1rem;
//     align-items: center;
//     padding: 0rem 0.4rem;
//     min-width:0;
//     user-select: none;

//     height:100%;

//     img{
//         flex:1;
//         line-height: 0.3rem;
//         padding:0.4rem;
//         display: inline;
        
//         height:1.6rem;
//         filter: invert(100%);
//     }
// }

// .manage-button{
//     background-color: base.$manage;
    
    
// }