@use "../../BaseStyle.scss" as base;

ul {
    list-style-type: none;
}

.list-border{
    max-width: 1600px;
    width: 80%;
    padding: 0rem;
    background-color: base.$accent;
    display:inline-block;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0px 12px 7px base.$shadow;

    h2{
        padding:0rem;
        border-bottom: solid 1px #00000011;
        box-shadow: 0rem 0.3rem 0.3rem #00000011;
    }



    @media (max-width:750px) {
        min-width: 90%;
    }
}

.tt-head{
    width:auto;
    display:flex;
    text-align: left;
    padding: 0rem 1rem;
}

.manage-head{
    flex:3;
    text-align: center;
}

.tt-item{
    width:auto;
    display:flex;
    text-align: left;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: base.$background;
    box-shadow: inset 0rem 0.7rem 0.7rem base.$shadow;
    border-radius: 1rem;
    align-items: center;
}

.session-name{
    flex: 10;
    
}

.lesson-name{
    flex:10;
}

.participant-count{
    text-align: right;
    flex:3;
    padding-right: 1rem;
}

.manage-button{
    flex:3;
    display: flex;
    text-align: center;
    background-color: base.$manage;
    border-radius: 1rem;
    align-items: center;
    padding: 0rem 0.4rem;

    
    img{
        flex:1;
        line-height: 0.3rem;
        padding:0.4rem;
        display: inline;
        
        height:1.6rem;
        filter: invert(100%);
    }
}