.page-not-found{
    text-align: center;
    
    h1{
        margin:0px;
        font-size:7rem;
        line-height: 60%;
    }

    h2{
        margin:0px;
        font-size:5rem;
    }

    h3{
        font-size:5rem;
        margin:0px;
    }
    
}