$background: #fcfcfc;
$shadow: #ececec;


$main-colour: #ffffff;
$accent: #886ce4;
$accent-alt: #eb75ef;
$manage: #e0b02c;

html, body, #root{
    min-height: 100vh;
}

body{
    background-color: $background;
    font-family: Hind;
}

.full-page{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    width: 100vw;
}

.large-emoji{
    font-size:16rem;
    user-select: none;
}




@keyframes nav-text-animation {
    from{
        filter: hue-rotate(0deg)
    }
    50%{
        filter: hue-rotate(40deg)
    }
    to{
        filter: hue-rotate(0deg)
    }
}