$background: #fcfcfc;
$background-grey:#555555;
$shadow: #ececec;
$main-colour: #ffffff;
$accent: #886ce4;
$accent-alt: #eb75ef;
$manage: #e0b02c;
$charcoal: #1f1f1f;


$ide-border-radius: 0.6rem;


html, body, #root{
    min-height: 100vh;
}

body{
    background-color: $background;
    font-family: Hind;
}

.full-page{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
}

.large-emoji{
    font-size:16rem;
    user-select: none;
}


.button-hover{
    &:hover{
        filter:brightness(94%)
    }

    &:active{
        filter:brightness(90%);
    }
}