$background: #fcfcfc;
$background-grey:#555555;
$shadow: #ececec;
$main-colour: #ffffff;
$accent: #9f35f5;
$accent-pink: #f5358b;
$accent-green: #8bf535;
$manage: #f5cb35;
$charcoal: #1f1f1f;
$light-grey: #cccccc;
$very-light-grey: #f9f9f9;

$font-family: Hind;

$ide-border-radius: 0.6rem;


html, body, #root{
    min-height: 100vh;
}

body{
    background-color: $background;
    font-family: Hind;
    font-weight: 700;
}

.full-page{
    display: flex;
    flex-direction:column;
    min-height: 100vh;
    text-align: center;
}

.large-emoji{
    font-size:16rem;
    user-select: none;
}


.button-hover{
    &:hover{
        filter:brightness(94%)
    }

    &:active{
        filter:brightness(90%);
    }
}